* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  height: 100vh;
  background-color: #675321;
}
.card {
  width: 10rem;
  height: 10rem;
  background-color: #011123;
  background-size: contain;
  border-radius: 0.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  background-repeat: no-repeat;
}
#card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.selected_div {
  border: 0.5rem solid yellow;
}
.matchCard {
  background-color: green;
}
